.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #e9ecef;
    border-left-width: .25rem;
    border-radius: .25rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
}
.bd-callout+.bd-callout {
    margin-top: -.25rem;
}
.bd-callout-info {
    border-left-color: #5bc0de;
}